@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body.has-navbar-fixed-top, html.has-navbar-fixed-top {
    padding-top: 4.5rem;
}

.navbar-item img {
    max-height: 3rem;
}

.custom-text-color {
    color: #4c4b77;
}

.custom-light {
    background-color: #f0fbfd;
}

.custom-gradient {
    background-image: linear-gradient(141deg,#6cd8e7 0,#29b3c5 71%,#0ecccf 100%);
}

.hero-text {
    padding: 2rem 0 0 3rem;
}

.hero-text h1 {
    line-height: 3.7rem;
}

.about-text {
    padding: 0 2rem;
}

.custom-box {
    padding: 45px;
    box-shadow: 0px 15px 60px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    margin: 2rem 1rem;
}

.footer {
    background-color: #3f3d56;
    color: whitesmoke;
    padding: 3rem 1.5rem 3rem;
}

.footer-social li {
    display: inline-block;
    margin: 0 0.3rem;
}

.social-icon {
    background-color: #34c9dd;
    padding: 0.5rem;
}

.social-icon:hover {
    background-color: #4c4b77;
}