html, body {
    scroll-behavior: smooth;
}

.custom-text-color {
    color: #4c4b77;
}

.hero-text {
    padding: 2rem 0 0 3rem;
}

.hero-text h1 {
    line-height: 3.7rem;
}

.about-text {
    padding: 0 2rem;
}

.custom-box {
    padding: 45px;
    box-shadow: 0px 15px 60px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    margin: 2rem 1rem;
}